{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<section>Контент 1</section>
	<section>Контент 2</section>
	<section>Контент 3</section>
	<section>Контент 4</section>
	<section>Контент 5</section>
	<section>Контент 6</section>

	<button id="buttonScroll">
		<img src="/svg/nav__scroll.svg">
	</button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}